---
- name: Set hostnames and update /etc/hosts
  hosts: k3s
  become: true
  #serial: 1  # Process one host at a time

  tasks:
    # - name: Set hostname to inventory hostname
    #   hostname:
    #     name: "{{ inventory_hostname }}"
    #   notify: Reboot the server

    - name: Update /etc/hosts
      blockinfile:
        path: /etc/hosts
        block: |
          {% for host in groups['k3s'] %}
          {{ hostvars[host]['ansible_host'] }} {{ host }}
          {% endfor %}
        marker: "# {mark} ANSIBLE MANAGED BLOCK"
  #     notify: Reboot the server

  # handlers:
  #   - name: Reboot the server
  #     reboot:
  #       reboot_timeout: 300
